.music_div{
	display:none;
	position: absolute;
	top: 80px;
	left: 20px;
	width: 580px;
	height: 99%;
	border: 1px;
	font-size: 32px;
	font-weight: 500;
	line-height: 48px;
	padding: 10px;
	overflow:scroll;
	background: rgba(255,255,255,1);
	filter:alpha(opacity=99);
	z-index:103;
	border-radius:5px;
	-moz-border-radius:5px; /* 老的 Firefox */
}

.single_music{
	height: 75px;
	padding-left:30px;
	padding-top:33px;
	padding-right:30px;
	font-weight: 600;
}

.closeMusic{
	position: absolute;
	top: 10px;
	left: 530px;
	width: 39px;
	height: 39px;
}


    div#bo{
        position:relative;   
        border:0px solid #000; 
		width:60px;		
		height:35px;
		margin:0 auto; 
        top:0px;    
        overflow:hidden;   
        clear:both;
		padding-right: 20px;
    }
	
	#bo-1 {
		position:absolute;
		-webkit-transform: translate3d(0px, -4px, 0px) scale3d(1, 0.83, 1);
		width: 6px;
		height: 40px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(194,194,194,0);
		top:0; left:0;
	}

	#bo-2 {
		position:absolute;
		-webkit-transform: translate3d(6px, 35px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
	}

	#bo-3 {
		position:absolute;
		-webkit-transform: translate3d(6px, 27px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-3-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-3-0 {
		0% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
		13.6707% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
		18.1541% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
		34.1767% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 0;
		}
		38.2191% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
		57.9036% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
		63.6364% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
		81.0843% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
		86.1446% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translate3d(6px, 27px, 0px);
			opacity: 1;
		}
	}

	#bo-4 {
		position:absolute;
		-webkit-transform: translate3d(6px, 18px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-4-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-4-0 {
		0% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 1;
		}
		13.6707% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 1;
		}
		18.1541% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 0;
		}
		34.1767% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 0;
		}
		38.2191% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 1;
		}
		57.9036% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 1;
		}
		63.6364% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 1;
		}
		81.0843% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 1;
		}
		86.1446% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translate3d(6px, 18px, 0px);
			opacity: 1;
		}
	}

	#bo-5 {
		position:absolute;
		-webkit-transform: translate3d(6px, 10px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-5-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-5-0 {
		0% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
		13.6707% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:linear;
		}
		18.1541% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:linear;
		}
		34.1767% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:linear;
		}
		38.2191% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:linear;
		}
		57.9036% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:linear;
		}
		63.6364% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 1;
			-webkit-animation-timing-function:linear;
		}
		81.0843% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 1;
			-webkit-animation-timing-function:linear;
		}
		86.1446% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:linear;
		}
		100% {
			-webkit-transform: translate3d(6px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:linear;
		}
	}

	#bo-6 {
		position:absolute;
		-webkit-transform: translate3d(18px, 35px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
	}

	#bo-7 {
		position:absolute;
		-webkit-transform: translate3d(18px, 27px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: 1 linear normal ;
	}

	@-webkit-keyframes ani-bo-7-0 {
		0% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 0;
		}
		13.6707% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 0;
		}
		18.1541% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 1;
		}
		34.1767% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 1;
		}
		38.2191% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 1;
		}
		57.9036% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 1;
		}
		63.6364% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 1;
		}
		81.0843% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 1;
		}
		86.1446% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translate3d(18px, 27px, 0px);
			opacity: 1;
		}
	}

	#bo-8 {
		position:absolute;
		-webkit-transform: translate3d(18px, 18px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-7-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-8-0 {
		0% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 0;
		}
		13.6707% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 0;
		}
		18.1541% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 1;
		}
		34.1767% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 1;
		}
		38.2191% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 0;
		}
		57.9036% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 0;
		}
		63.6364% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 1;
		}
		81.0843% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 1;
		}
		86.1446% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translate3d(18px, 18px, 0px);
			opacity: 1;
		}
	}

	#bo-9 {
		position:absolute;
		-webkit-transform: translate3d(18px, 10px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-8-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-9-0 {
		0% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 0;
		}
		13.6707% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 0;
		}
		18.1541% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 0;
		}
		34.1767% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 0;
		}
		38.2191% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 0;
		}
		57.9036% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 0;
		}
		63.6364% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 0;
		}
		81.0843% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 0;
		}
		86.1446% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translate3d(18px, 10px, 0px);
			opacity: 1;
		}
	}

	#bo-10 {
		position:absolute;
		-webkit-transform: translate3d(30px, 35px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
	}

	#bo-11 {
		position:absolute;
		-webkit-transform: translate3d(30px, 27px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-9-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-11-0 {
		0% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		13.6707% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		18.1541% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		34.1767% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		38.2191% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		57.9036% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		63.6364% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		81.0843% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		86.1446% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
		100% {
			-webkit-transform: translate3d(30px, 27px, 0px);
		}
	}

	#bo-12 {
		position:absolute;
		-webkit-transform: translate3d(30px, 18px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-11-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-12-0 {
		0% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 1;
		}
		13.6707% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 1;
		}
		18.1541% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 0;
		}
		34.1767% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 0;
		}
		38.2191% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 1;
		}
		57.9036% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 1;
		}
		63.6364% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 0;
		}
		81.0843% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 0;
		}
		86.1446% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translate3d(30px, 18px, 0px);
			opacity: 0;
		}
	}

	#bo-13 {
		position:absolute;
		-webkit-transform: translate3d(30px, 10px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-12-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-13-0 {
		0% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 1;
			width: 10px;
			height: 5px;
		}
		13.6707% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 1;
			width: 10px;
			height: 5px;
		}
		18.1541% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 0;
			width: 10px;
			height: 5px;
		}
		34.1767% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 0;
			width: 10px;
			height: 5px;
		}
		38.2191% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 0;
			width: 10px;
			height: 5px;
		}
		57.9036% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 0;
			width: 10px;
			height: 5px;
		}
		63.6364% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 0;
			width: 10px;
			height: 5px;
		}
		81.0843% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 0;
			width: 10px;
			height: 5px;
		}
		86.1446% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 0;
			width: 10px;
			height: 5px;
		}
		100% {
			-webkit-transform: translate3d(30px, 10px, 0px);
			opacity: 0;
			width: 10px;
			height: 5px;
		}
	}

	#bo-14 {
		position:absolute;
		-webkit-transform: translate3d(42px, 35px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
	}

	#bo-15 {
		position:absolute;
		-webkit-transform: translate3d(42px, 27px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-13-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-15-0 {
		0% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 1;
		}
		13.6707% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 1;
		}
		18.1541% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 1;
		}
		34.1767% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 1;
		}
		38.2191% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 1;
		}
		57.9036% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 1;
		}
		63.6364% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 0;
		}
		81.0843% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 0;
		}
		86.1446% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 1;
		}
		100% {
			-webkit-transform: translate3d(42px, 27px, 0px);
			opacity: 1;
		}
	}

	#bo-16 {
		position:absolute;
		-webkit-transform: translate3d(42px, 18px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-15-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-16-0 {
		0% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 0;
		}
		13.6707% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 0;
		}
		18.1541% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 1;
		}
		34.1767% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 1;
		}
		38.2191% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 0;
		}
		57.9036% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 0;
		}
		63.6364% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 0;
		}
		81.0843% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 0;
		}
		86.1446% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translate3d(42px, 18px, 0px);
			opacity: 0;
		}
	}

	#bo-17 {
		position:absolute;
		-webkit-transform: translate3d(42px, 10px, 0px);
		width: 10px;
		height: 5px;
		border-top: 0px solid rgba(1,14,13,1);
		border-right: 0px solid rgba(1,14,13,1);
		border-bottom: 0px solid rgba(1,14,13,1);
		border-left: 0px solid rgba(1,14,13,1);
		background-color: rgba(92,88,88,1);
		top:0; left:0;
		-webkit-animation: ani-bo-16-0 0.8925s 0s infinite linear both ;
	}

	@-webkit-keyframes ani-bo-17-0 {
		0% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
		13.6296% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
		18.0995% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 1;
			-webkit-animation-timing-function:ease;
		}
		34.074% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 1;
			-webkit-animation-timing-function:ease;
		}
		38.4707% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
		57.7297% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
		63.4453% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
		80.8408% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
		85.8859% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
		100% {
			-webkit-transform: translate3d(42px, 10px, 0px);
			opacity: 0;
			-webkit-animation-timing-function:ease;
		}
	}
