@charset "utf-8";
@font-face{font-family:"Microsoft YaHei";font-weight:normal;}
body{
	background:url(bg.png);
	background-size:40px;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	direction: ltr;
	}
.wsp04_spxq{
	font:"Microsoft YaHei";
}
.wsp04_spxq .banner{
	width:100%;}
.wsp04_spxq .banner img{
	width:100%;}
.wsp04_spxq .content{
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	width:300px;
	margin-right:auto;
	margin-left:auto;}
.wsp04_spxq h1{
	padding-bottom:10px;
	padding-top:10px;
	text-align:center;
	text-align:right;
	font-size:16px;
	color:#3d4245;
	line-height:24px;}
.wsp04_spxq .jg{
	display:block;
	padding-bottom:10px;}
.wsp04_spxq span h6{
	padding-left:3px;
	padding-top:3px;
	color:#000;
	font-size:14px;
	float:right;
	line-height:24px;}
.wsp04_spxq span h5{
	color:#ff3600;
	font-size:24px;
	float:right;
	line-height:24px;}
.wsp04_spxq span h4{
	padding-top: 4px;
	padding-right: 5px;
	padding-left:4px;
	line-height: 24px;
	float: right;
	font-size: 12px;
	color: #a9a9a9;
	text-decoration: line-through;
}
.wsp04_spxq span h3{
	
	padding-top:4px;
	float:right;
	line-height:24px;
	font-size:12px;
	color:#000;}
.wsp04_spxq span a{
	text-align:center;
	margin-top:12px;
	margin-left:10px;
	float:left;
	border-radius:15px;
	height:21px;
	line-height:21px;
	display:block;
	background:#2CB2F1;
	font-size:12px;
	color:#fff;
	width:85px;
	}
.wsp04_spxq span a:active{
	background:#999;

	}
.wsp04_spxq .sl{
	background:url(bg02.png) repeat-x top, url(bg02.png) repeat-x bottom;
	background-size:1px;
	margin-top:10px;
	padding:10px 0 10px 0;}
.wsp04_spxq .sl p{
	line-height:31px;
	height:31px;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#000;
	float:right;}
.wsp04_spxq .sl span{
	margin-right:10px;
	line-height:31px;
	height:31px;
	font-family:"Microsoft YaHei";
	font-size:10px;
	color:#acacac;
	float:right;}
.wsp04_spxq .sl button{
	width:28px;
	height:31px;
	background-image: -moz-linear-gradient(top, #ececec, #d4d4d4); 
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #ececec), color-stop(1, #d4d4d4)); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#d4d4d4', GradientType='0');
	box-shadow:0px 1px 0px #fff inset;
	border:none;
	border:1px #9f9f9f solid;
	float:right;}
.wsp04_spxq .sl button:active{
	background:#d4d4d4;}
.wsp04_spxq .sl .button_left{
	border-radius:0px 5px 5px 0px;
	border-left:none;}
.wsp04_spxq .sl .button_left p{
	width:100%;
	height:100%;
	
	background-size:14px;}
.wsp04_spxq .sl .button_right{
	border-radius:5px 0px 0px 5px;
	border-right:none;}
.wsp04_spxq .sl .button_right p{
	width:100%;
	height:100%;
	
	background-size:14px;}
.wsp04_spxq .sl input{
	border:1px #9f9f9f solid;
	height:29px;
	width:44px;
	line-height:29px;
	float:right;
	font-size:14px;
	text-align:center;
	border-radius:0px;}
.wsp04_spxq .gwc{
	
	background-size:1px;
	padding:15px 0 15px 0;
	width:100%;}
.wsp04_spxq .gwc .jrgwc{
	margin-right:0px;
	display:block;
	float:right;
	border-radius:5px;
	width:110px;
	height:32px;
	line-height:32px;
	text-align:center;
	color:#fff;
	font-family:"Microsoft YaHei";
	font-size:14px;
	background-image: -moz-linear-gradient(top, #febe0f, #fe8c01); 
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #febe0f), color-stop(1, #fe8c01)); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febe0f', endColorstr='#fe8c01', GradientType='0');
	}
.wsp04_spxq .gwc .jrgwc:active{
	background:#fe8c01;}
.wsp04_spxq .gwc .ljgm{
	margin-left:0px;
	display:block;
	float:left;
	border-radius:5px;
	width:110px;
	height:32px;
	line-height:32px;
	text-align:center;
	color:#fff;
	font-family:"Microsoft YaHei";
	font-size:14px;
	background-image: -moz-linear-gradient(top, #fd4c4e, #f52736); 
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #fd4c4e), color-stop(1, #f52736)); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd4c4e', endColorstr='#f52736', GradientType='0');}
.wsp04_spxq .gwc .ljgm:active{
	background:#f52736}
.wsp04_spxq .lxfs{
	text-align:center;
	background:url(bg02.png) repeat-x top, url(bg02.png) repeat-x bottom, #fff;
	background-size:1px;
	margin-bottom:15px;
	width:100%;
	height:36px;
	line-height:36px;}
.wsp04_spxq .lxfs .zxkf{
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#969696;
	background:url(bg_jt.png) no-repeat 130px;
	background-size:7px;
	height:35px;
	line-height:35px;
	float:right;
	display:block;
	border-left:1px solid #c9c9c9;
	width:149px;}
.wsp04_spxq .lxfs .zxkf:active{
	background:url(bg02.png) repeat-x top, url(bg02.png) repeat-x bottom, #f1f1f1;
	color:#fff;
	background-size:1px;}
.wsp04_spxq .lxfs .lxdh{
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#969696;
	background:url(bg_jt.png) no-repeat 130px;
	background-size:7px;
	float:right;
	display:block;
	width:150px;
	height:35px;
	line-height:35px;}
.wsp04_spxq .lxfs .lxdh:active{
	background:url(bg02.png) repeat-x top, url(bg02.png) repeat-x bottom, #f1f1f1;
	background-size:1px;
	color:#fff;}
.wsp04_spxq .nr span{
	display:block;
	font-size:16px;
	font-family:"Microsoft YaHei";
	color:#000;
	margin-left:10px;
	margin-bottom:10px;}

.contetn_01{
	width:300px;
	background:#fff;
	margin-right:auto;
	margin-left:auto;
	margin-top:15px;
	border:1px solid #ccc;
	border-radius:8px;
	overflow:hidden;
	box-shadow:0px 1px 0px #fff;
	}

.wsp04_spxq .gwc .jrgwc{
	margin-right:25px;
	display:block;
	float:right;
	border-radius:5px;
	width:110px;
	height:32px;
	line-height:32px;
	text-align:center;
	color:#fff;
	font-family:"Microsoft YaHei";
	font-size:14px;
	background-image: -moz-linear-gradient(top, #febe0f, #fe8c01); 
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #febe0f), color-stop(1, #fe8c01)); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febe0f', endColorstr='#fe8c01', GradientType='0');
	}
.wsp04_spxq .gwc .ljgm{
	margin-left:25px;
	display:block;
	float:left;
	border-radius:5px;
	width:110px;
	height:32px;
	line-height:32px;
	text-align:center;
	color:#fff;
	font-family:"Microsoft YaHei";
	font-size:14px;
	background-image: -moz-linear-gradient(top, #fd4c4e, #f52736); 
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #fd4c4e), color-stop(1, #f52736)); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd4c4e', endColorstr='#f52736', GradientType='0');}

.wsp04_spxq .sl{
	background:url(bg02.png) repeat-x top, url(bg02.png) repeat-x bottom;
	background-size:1px;
	margin-top:0px;
	padding:8px 10px 8px 0;}
.wsp04_spxq .gwc{
	background:url(bg02.png) repeat-x bottom;
	background-size:1px;
	padding:8px 0 8px 0;
	width:100%;}	
.wsp04_spxq .jg{
	display:block;
	padding-bottom:0px;}	
.wsp04_spxq h1{
	padding-right:5px;
	padding-bottom:2px;
	padding-top:8px;
	text-align:center;
	text-align:right;
	font-size:16px;
	color:#3d4245;
	line-height:22px;}
	
.wsp04_spxq span h6{
	padding-right:5px;
	padding-left:3px;
	padding-top:3px;
	color:#000;
	font-size:14px;
	float:right;
	line-height:24px;}