html, body, menu, ul, ol, li, p, div, form, h1, h2, h3, h4, h5, h6, img, a img, input, button, textarea, fieldset {
	padding: 0;
	margin: 0;
	border: 0
}
ul, ol, li {
	list-style: none
}
h1, h2, h3, h4, h5, h6, b, i, em {
	font-size: 1em;
	font-weight: normal;
	font-style: normal
}
body {
	font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica;
	-webkit-text-size-adjust: none;
	font: normal 14px/1.5 helvetica, verdana, san-serif;
	outline: 0;
	color: #333
}
button, textarea {
	-webkit-appearance: none
}
a {
	text-decoration: none;
	color: #333
}
.img img, video {
	vertical-align: middle
}
body {
	min-width: 320px;
	margin: 0 auto;
	background: #fff
}
.em1 {
	color: #d5423b
}
.em2 {
	color: #2e941c
}
.cfx:after, nav.mini:after, .h:after, .hn:after, .PH:after {
	content: ' ';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	line-height: 0
}
.h aside {
	float: right
}
.h em, .h em a {
	display: inline-block;
	vertical-align: top;
	float: left
}
.h em .vhr {
	float: left
}
h3 {
	font-size: 18px;
	line-height: 34px;
	margin-top: 10px;
	padding: 0 10px 0 5px
}
h3 aside, h3 aside a {
	font-size: 18px
}
h3 em {
	padding: 0 5px
}
.h4, .h4WP .vhr {
	display: block;
	padding: 8px 0 8px 10px;
	font-size: 18px
}
.h4:visited, .h4 a:visited {
	color: #551a8b
}
.h4 .iT {
	margin-left: 5px
}
.h4WP {
	display: -webkit-box
}
.h4WP .h4:last-child {
	-webkit-box-flex: 1
}
.hn1 {
	text-align: center;
	margin-bottom: 10px
}
.hn1 h4 {
	font-size: 22px
}
.hn1 p {
	font-size: 14px
}
.pl {
	display: -webkit-box;
	padding: 10px 7px 0
}
.pl .h4 {
	display: block;
	text-align: center;
	padding: 0 0 5px
}
.pl .h4 .img {
	display: block
}
.pl .h4 img {
	padding: 0 0 10px
}
.pl .h4 p {
	height: 1.3em;
	font-size: 12px;
	overflow: hidden;
	padding: 0 5px;
	margin: 0 auto
}
.pl_c2 .h4 {
	width: 33%
}
.pl_c2 .h4 p {
	width: 90px;
	line-height: 100%;
}
.pl_c3 .h4 {
	width: 20%
}
.pl_c3 .h4 p {
	width: 70px
}
nav.site a {
	display: block;
	float: left;
	position: relative;
	height: 40px;
	line-height: 40px;
	width: 20%;
	text-align: center;
	font-size: 18px
}
nav.site a i {
	position: absolute;
	top: 8px
}
nav.site.all {
	height: 40px;
	overflow: hidden
}
nav.site.all.on {
	height: 120px
}
nav.site.all.on .nM {
	top: -500px
}
body.home nav.site.all a {
	width: 16%
}
body.home nav.site.all a:nth-child(13) {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
body.home nav.site.all a:nth-child(n+13) {
	display: none
}
body.home nav.site.all.on a:nth-child(n+14) {
	display: initial
}
body.home nav.site.all .nC {
	margin-right: 4%
}
footer.site {
	text-align: center;
	padding-bottom: 10px
}
nav.foo {
	font-size: 18px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4695db), to(#3681c3));
	margin-bottom: 10px
}
nav.foo a {
	color: #fff;
	line-height: 40px;
	margin: 0 3px
}
footer.site .func {
	margin: 0 0 5px
}
footer.site .func * {
	font-size: 14px;
	color: #3783c6;
	margin: 0 10px
}
footer.site .func .on {
	color: #333
}
footer.site .inf {
	font-size: 16px;
	color: #333;
	margin: 0 0 5px
}
footer.site .cop {
	color: #666;
	font-size: 12px
}
.ht1 {
	background: #3783c6
}
.ht1 aside, .ht1 aside a {
	color: #fff
}
.ht1 em {
	background: #fff
}
.ht2, .ht3, .ht5 {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3783c6), to(#3783c6)) center bottom repeat-x;
	background-size: 2px 2px
}
.ht2 aside, .ht2 aside a {
	color: #3783c6
}
.ht2 em {
	background: #3783c6
}
.ht2 em, .ht2 em a {
	color: #fff
}
.ht3 em, .ht3 em a {
	color: #3783c6
}
.ht4 em, .ht4 em a {
	color: #3783c6;
	font-size: 18px
}
.ht5 em, .ht5 em a {
	color: #3783c6
}
.ht5 em {
	padding: 0 0 0 15px;
	background: #3783c6
}
.ht5 em a {
	display: inline-block;
	padding: 0 15px;
	background: #fff;
	margin-bottom: 2px
}
.ht1 {
	background: #fccb01
}
.ht1 aside, .ht1 aside a {
	color: #333
}
nav.foo {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#272627))
}
nav.site, .picSub nav.site {
	background: #333;
	padding: 5px 0!important
}
nav.site a {
	color: #ffff00
}
header {
	position: relative;
	height: 51px
}
header, .PHB {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcd007), to(#fccb01))
}
header h2 {
	color: #333333;
}
.ht2 aside, .ht2 aside a {
	color: #333
}
h3.ht2, h3.ht5, .sub h3.ht1 {
	background: #e9e9e9;
	background-size: auto;
	padding-left: 0
}
h3.ht2 em, h3.ht5 em, .sub h3.ht1 em {
	border-left: 15px solid #f2ca00;
	background: #fff;
	color: #333
}
h3.ht2 em a, h3.ht5 em a {
	color: #333
}
h3.ht3 {
	background: #ececec;
	border-top: 2px solid #fbce30;
	background-size: auto;
}
h3.ht3 a {
	color: #333
}
