

#container {
    
	position: absolute;
	top:16px;
	left:146px;
    height: 480px;
    width: 500px;
    margin: 0px;
    overflow: hidden;
    
	
}


#leafContainer 
{
    position: absolute;
    width: 100%;
    height: 100%;
}




#leafContainer > div 
{
    position: absolute;
    width: 100px;
    height: 100px;
    
    
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in;
}


#leafContainer > div > img {
     position: absolute;
     width: 100px;
     height: 100px;

    
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: alternate;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-transform-origin: 50% -100%;
}

#leaf {
     position: absolute;
     left:0px;
	 top:0px;
	 width:100%;
     z-index:1000;
}



@-webkit-keyframes fade
{
    
    0%   { opacity: 1; }
    95%  { opacity: 1; }
    100% { opacity: 0; }
}



@-webkit-keyframes drop
{
    
    0%   { -webkit-transform: translate(0px, -50px); }
    
    100% { -webkit-transform: translate(0px, 780px); }
}


@-webkit-keyframes up
{
    
    0%   { -webkit-transform: translate(-50px, 365px); }
    
    100% { -webkit-transform: translate(-50px, -50px); }
}


@-webkit-keyframes clockwiseSpin
{
    
    0%   { -webkit-transform: rotate(-50deg); }
    
    100% { -webkit-transform: rotate(50deg); }
}



@-webkit-keyframes counterclockwiseSpinAndFlip 
{
    
    0%   { -webkit-transform: scale(-1, 1) rotate(50deg); }
    
    100% { -webkit-transform: scale(-1, 1) rotate(-50deg); }
}