body{background:#290d40}
body{margin: 0 auto;min-width: 320px;max-width: 640px;height: 100%;font-size: 14px;font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;line-height: 1.5;color: #666;-webkit-text-size-adjust: 100%;-webkit-user-select: none;user-select: none;position: relative;}
a{text-decoration:none;color:#333}
a:active,a:hover {outline: 0;}
a,img,button,input,select{-webkit-tap-highlight-color:transparent;outline:0}
textarea,input{resize:none;-webkit-appearance:none;border-radius:0;outline:0}
img{vertical-align:top;border:0 none}
img{width:100%;}
input,select,button,h1,h2,h3,h4,h5,h6{font-size:100%;font-family:inherit}
textarea,input{border:0}
.cl{clear:both; overflow:visible;}.mt20{ margin-top:20px}

.clearfix:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix{zoom:1}

.com_nbg { background:none; }
.com_btn { display:block; border-radius:3px; height:14px; line-height:14px; margin-bottom:5px; font-size:12px; text-decoration:none; text-align:center; color:#FFF; }

.com_btn_1 { background-color:#a0d468; -webkit-box-shadow:0 2px #81b449; }
.com_btn_2 { background-color:#ffce54; -webkit-box-shadow:0 2px #f6bb42; }
.com_btn_3 { background-color:#5a5a5a; -webkit-box-shadow:0 2px #4c4c4c; }
.com_btn_4 { background-color:#d40080; -webkit-box-shadow:0 5px #a20865; }
.com_btn_4:active { background-color:#a20865; -webkit-box-shadow:0 5px #a20865; }
.com_btn_5 { background-color:#f75e53; -webkit-box-shadow:0 2px #db4439; }
.com_btn_5:active { background-color:#de544b; -webkit-box-shadow:0 2px #c53d33; }
.com_btn_6 { background-color:#00bfb5; -webkit-box-shadow:0 2px #00978e; }
.com_btn_6:active { background-color:#00aca3; -webkit-box-shadow:0 2px #008880; }
.com_btn_7 { background-color:#fbb102; -webkit-box-shadow:0 2px #c48118; }
.com_btn_7:active { background-color:#e19f02; -webkit-box-shadow:0 2px #b07416; }
.com_btn_8 { background-color:#ccc; -webkit-box-shadow:0 2px #ababab; }
.com_btn_9 { background-color:#FFF; -webkit-box-shadow:0 2px #e7e8ec; color:#444; }
.com_btn_9:active { background-color:#e5e5e5; -webkit-box-shadow:0 2px #cfd0d4; }

.content{margin-bottom:5px;overflow:hidden}

/* 投票 */
.tit{height:28px; line-height:28px; font-size:20px; color:#a388b1; margin:5px 0; text-align:center; font-weight:700}
.lpname{ line-height:28px; color:#a388b1; margin:10px 0; text-align:center; font-weight:700}
.lpname span{ display:block}
.input_form { padding:5px 10px 0 10px; font-size:14px; }
.input_form .row { display:-webkit-box; padding-bottom:15px; }
.input_form .row:last-child{padding-bottom:0}
.input_form .lab { font-size:16px;color:#a388b1; display:-webkit-box; -webkit-box-align:center; -webkit-box-pack:end; }
.input_form .con { display:-webkit-box; -webkit-box-flex:1; }
.input_form .com_ipt { display:-webkit-box; -webkit-box-flex:1; color:#fff; padding-left:5px; padding-right:5px; }
.address_form .lab { width:80px; }
.com_ipt {background-color:#857988; color:#b8aabc; font-size:14px; line-height:16px; padding:8px 10px; }
.address_form .instr { width:90px; line-height:34px; font-size:12px; margin-left:5px; color:#a388b1 }
.panel_btns{padding-bottom:10px;}
.panel_btns .com_btn { font-size:16px; line-height:34px; min-height:34px; padding:5px 0 0 4px 0; margin:0 5px; }
.panel_btns .com_box .com_btn { display:-webkit-box; -webkit-box-flex:1; -webkit-box-align:center; -webkit-box-pack:center; color:#FFF; }

.inst{color:#b8aabc; text-align:left; font-weight:600; padding:5px 10px; margin-bottom:10px}
.address_form .btn_update{width:210px;height:31px; overflow:hidden; display:block;background:url('./bm1/btn_sc.jpg') no-repeat; background-size:100% auto;}

.bd{ text-align:center; position:relative;}
.arrow-top{width:0; height:0; border:5px solid;border-color:  transparent  transparent #401b5f transparent; display:inline-block;}
.arrow-box{width:100%; position:absolute; left:0;top:-15px;z-index:1000}
.box{ background:#401b5f; padding:10px; text-align:left; margin-top:10px; overflow:hidden}
.box span{ display:block;color:#6e4c8a}
.box .panel_btns{ margin-top:10px;}
.box .c_tx2{color:#d40080}
.box .c_tx3{color:#d40080}
/* show */
.tit2{ color:#d97bae; line-height:24px; font-size:20px; margin:5px 0; font-weight:500; text-indent:2em}
.tit2 span{ color:#e85aab; font-weight:bold;}
.info{ font-size:16px;color:#71557f; font-weight:500; text-indent:2em}
.photo{width:80%; margin:10px auto;}
.photo img{width:100%; text-align:center}
.inter{ text-align:center;color:#71557f;font-size:16px;}
.inter span{ color:#e85aab; margin:0 5px;font-weight:bold;}

/* list */


/* Copy */
    /*发布页*/
.post_page {}
.post_page .post_title, .post_page .post_content{border:#d9d9d9 1px solid; display:block; height:44px; padding:4px 2%; width:96%;}
.post_page .select {border-radius:0; color:#999;width:100%;}
.post_page .post_content {height:150px;}
.post_page .submit_btn {background:#07b6ef; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #07b6ef), color-stop(1, #07b6ef)); border:#02a1d5 1px solid; border-radius:4px; color:#fff; display:block; font-size:18px; line-height:48px; height:48px; width:100%; text-align:center;}
    /*上传图片*/
.upload_area .upload_btn, .post_page .upload_btn input, .upload_area .upload_btn .preview_img {height:34px; width:50px;}
.upload_area .cancel_btn, .upload_area .file_name {color:#999; display:none; float:left;line-height:34px; height:34px;}
.upload_area .file_name {margin:0 -10px 0 5px; max-width:150px; overflow:hidden;}
.upload_area { }
.upload_area .upload_btn {background:url(./bm1/upload_btn.png) center no-repeat;background-size:30px auto; float:left; overflow:hidden; position:relative;border:2px dashed #78b0c6;width:56px;height:56px;border-radius:5px;}
.upload_area .show_more {}
.upload_area .upload_btn input {opacity:0; position:absolute; left:0; top:0; z-index:10; overflow:hidden;}
.upload_area .upload_btn .preview_img {background:#fff; display:none; position:absolute; left:0; top:0; z-index:8;}
#previews{padding: 0px;}
#previews li img.wh60 {margin:0 auto;display:inline;width:60px;height:60px;}
#previews li {float:left;width:60px;height:60px;overflow:hidden;margin-right:10px;}
#previews li img.loading {margin:0 auto;display:block;margin-top:15px;}




.box_shadow_2{
    -webkit-box-shadow:0px 1px 3px rgba(102,102,102,0.2);
    -moz-box-shadow:0px 1px 3px rgba(102,102,102,0.2);
    box-shadow:0px 1px 3px rgba(102,102,102,0.2);
}

/* list */
/*---------相册------------*/
.explain_match{ padding:10px 0 0 0;}
.div_match{ padding:0 10px;}

.photo2{margin-top:4px;padding:0 0 0 10px;}

.picCon{margin:7px 7px 0 0;border:#FFF 5px solid;box-shadow: 1px 1px 3px #DDD; background:#FFF;width: 42%}
.picCon img{width:100%;}
.picCon1{width:100%;}
.picCon1 img{min-height:50px;}
.picCon2{margin-top:5px;padding:5px 0;width:100%; background:#EC2D3C; cursor:pointer;}
.picCon2 ul li{margin:0;width:100%;color:#FFF;display:block; text-align:center;overflow:hidden;}
.picCon2 ul li.pli1{ font-size:20px;font-weight:bold;height:24px;line-height:24px;}
.picCon2 ul li.pli3:after{content: "票";font-size:16px; margin-left:3px;color:#FFF;line-height: 1;}
.picCon2 ul li.pli1 img{ padding:0 0 4px 4px;width:auto;height:12px;}
.picCon2 ul li.pli2{ font-size:13px;height:16px;line-height:16px;}
.picCon2 ul li.pli2 img{ padding:0 0 5px 6px;width:auto;height:14px;}

.picCon3{width:100%;height:0;position:relative;}
.picCon3_1{padding:3px 0 2px 0;width:100%;position:absolute;opacity:0.65;color:#FFF; font-size:13px; bottom:0; text-indent:16px;background:#000;background-image:url(add_bg1.png); background-repeat:no-repeat; background-position:5px center; background-size:9px auto;text-shadow:1px 1px 1px #000;}

.match_page{ border-radius:4px;background:#FFF url(p_bg2.png) repeat-y center 0;}
.match_page ul li{ float:left;width:40%;height:32px;line-height:32px;text-align:center; font-size:16px;cursor:pointer;list-style-type: none;}
.match_page ul li.pli3{color:#AAA;}
.match_page ul li.phsite_on{color:#FF0000;}

.match_page_on{width:100%;height:0px;position:relative;}
.match_page_on1{width:100%;height:8px; background:url(ps_bg1.png) no-repeat center 0;position:absolute;top:42px;}

.matchPic{margin-left:0px;width:100%;height:100%; position:fixed; background:#000 url(loading3.gif) no-repeat center center;}
.matchPic1{width:100%;height:100%;background-position:center center; background-repeat:no-repeat;background-size:auto 100%;}

.matchPic2{padding:6px 0 6px 0;width:100%;color:#EEE;text-shadow:1px 1px 1px #000;background:rgba(0, 0, 0, 0.4) none repeat scroll!important;position:absolute;top:0px;}
.matchPic2_1{padding:0 10px;line-height:150%; font-size:15px;color:#FFF;}
.matchPic2_1 span{float:left;height:23px;}
.matchPic2_1 span.mspan1{ padding:0 0 0 16px;background:url('ptb01.png') no-repeat 0 3px; background-size:13px auto;max-width:32%;overflow:hidden;}
.matchPic2_1 span.mspan2{ margin:0 0 0 13px;padding:0 0 0 23px;background:url('ptb02.png') no-repeat 0 3px; background-size:20px auto;}
.matchPic2_1 span.mspan3{ float:right; padding:0 0 0 20px;background:url('sbg2.png') no-repeat 0 3px; background-size:16px auto; cursor:pointer;}

.picbgw{ background-size:100% auto;}

.matchPicTb1,.matchPicTb2,.matchPicTb4,.matchPicTb5,.matchPicTb6,.matchPicTb7{width:42px;line-height:42px; text-align:center;text-shadow:1px 1px 1px #000;background:rgba(0, 0, 0, 0.35) none repeat scroll;border:#999 1px solid; border-radius:100px;color:#EEE;position:fixed;bottom:0; cursor:pointer;}
.matchPicTb1{left:0; margin:0 0 10px 10px}
.matchPicTb2{right:0;margin:0 10px 10px 0;}
.matchPicTb3{margin:0 0 -7px -50px;width:100px;height:102px;color:#FBD5D8;background:url(tbg1.png) no-repeat; background-size:100% 100%;position:fixed;bottom:0;left:50%; cursor:pointer;}
.matchPicTb3 ul li{width:100%; text-align:center; overflow:hidden;}
.matchPicTb3 ul li.mpli1{margin-top:33px;height:22px;line-height:22px;font-size:20px;font-weight:bold;font-family:'Arial';}
.matchPicTb3 ul li.mpli2{margin-top:0px;height:18px;line-height:18px;}

.matchPicTb4{margin:0 10px 65px 0; right:0px;}
.matchPicTb5{margin:0 0 65px 10px;}
.matchPicTb6{margin:0 10px 120px 0; right:0px;}
.matchPicTb7{margin:0 0 120px 10px;}

.matchPicTb10,.matchPicTb11{width:40px;line-height:40px; text-align:center;text-shadow:1px 1px 1px #000;background:rgba(0, 0, 0, 0.7) none repeat scroll; border-radius:100px;color:#FFF;position:fixed;top:50%; left:5px;cursor:pointer;margin-top:-45px;}
.matchPicTb11{margin-top:5px;}

.matchPicTb20{width:52px;height:52px;line-height:52px; text-align:center;text-shadow:1px 1px 1px #000;background:rgba(0, 0, 0, 0.55) none repeat scroll; border-radius:100px;color:#FFF;position:fixed;left:8px; bottom:8px; font-size:15px; overflow:hidden;cursor:pointer;}


.matchPicLeft,.matchPicRight{margin-top:0px;width:36px;height:70%;background:url(p_left2.png) no-repeat center center; background-size:auto 50px;position:fixed;top:15%;cursor:pointer;}
.matchPicLeft{left:0;}
.matchPicRight{right:0;background-image:url(p_right2.png);}

.mpbg{ background:#000;}


.matchMv{width:100%;height:100%;background:rgba(0, 0, 0, 0.9) none repeat scroll!important;position:fixed;top:0;left:0;z-index:20; display:none;}
.matchMvClose{margin-right:-50px;width:50px;height:50px;background:url(closeBg1.png) no-repeat; background-size:100% 100%;position:fixed;top:0;right:0; cursor:pointer;}
.matchMvCon{width:100%;height:40%; background:url(loading.gif) no-repeat center center;position:fixed;top:30%;left:0;}


.match_out{width:100%;height:100%;position:fixed;background:rgba(0, 0, 0, 0.75) none repeat scroll!important;z-index:97;top:0;left:0;}
.match_out1{margin:25% auto 0;width:90%;line-height:180%; font-size:23px; font-weight:bold;color:#FFF; text-align:center;}


.match_pic1{padding:10px 0px;border-bottom:#DADADA 2px solid;}
.match_pic1 ul li{margin:0 0 0 8px;padding:3px;width:134px;height:134px;background:#FFF;border:#CCC 1px solid; border-radius:0px; cursor:pointer;}
.match_pic1 ul li div{width:100%;height:100%; background-repeat:no-repeat; background-position:center 0; background-size:100% auto; overflow:hidden;}
.match_pic1 ul li div.w{background-size:auto 100%;}
.match_pic1 ul li div.h{background-size:100% auto;}

li{line-style:none}

/* 底部跟随导航 */
.dom_flex_box{
	box-flex: 1;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
	-ms-box-flex: 1;
	-o-box-flex: 1;
}
.activity_foot{
	border:#adaeb1 1px solid;
	background-color:#e9e9e9;
	z-index:999;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
}
.activity_foot li{ float:left; width:25%; display: inline-block;}
.activity_foot a, .activity_foot span{
	display:block;
	text-align:center;
	background-position:center top;
	background-repeat:no-repeat;
	background-size:auto 50%;
	height:20px;
	padding-top:25px;
	margin-top:6px;
	margin-bottom:6px;
	vertical-align:bottom;
	font-size:14px;
    text-decoration:none;
}
.activity_foot li:nth-child(1) a, .activity_foot li:nth-child(1) span{
	background-image:url(arc.png);
}
.activity_foot li:nth-child(2) a, .activity_foot li:nth-child(2) span{
	background-image:url(book.png);
}
.activity_foot li:nth-child(3) a, .activity_foot li:nth-child(3) span{
	background-image:url(pen.png);
}
.activity_foot li:nth-child(4) a, .activity_foot li:nth-child(4) span{
	background-image:url(manage.png);
}
.daohang{ background: #9EEDC9;float: left;width: 100%; height: 40px; line-height: 40px;}
.daohang div{ float: left;margin-right: 20px;}
.search {width:65%; max-width:680px; font:16px/125% '微软雅黑'; color:#FFF; padding:6px 0px; text-align:center;border-radius: 5px; background: #9EB1ED; float: left; margin:10px 0 10px 10px}
.search .searchform {margin:0px auto; padding:0px 5px;; height:30px;}
.search .searchform #key {width:68%;  height:30px; border:none; border-radius:10px 0px 0px 10px; float:left; padding:0px 1%;}
.search .searchform #sub1 {width:30%;  height:30px; border:none; border-radius:0px 10px 10px 0px; float:left; background:#FFF url(bm1/s.png) no-repeat center right;}

