body,textarea,input,button,select,keygen,legend{font:14px/1.14 "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;color:#fff;outline:0;}
body{width:100%; height:100%; background:#fff; }
a,a:hover{ color:#ccc; text-decoration:underline }
.g-wrap{ width:100%; height:100%;margin:0 auto; position:relative }
.pimg{ width:100%; height:100%; position:fixed; top:0; left:0; background-repeat:no-repeat; background-size:100% 100%; background-position:0 0;}
.g-wrap img{ max-width:100%;}
.mpage{ width:100%; position:relative; z-index:99; left:0; top:0;}
.contact{ background-image: url(../images/abm.png) ; background-position:top right; background-repeat:no-repeat; background-color: rgba(0,0,0,.8);  overflow:hidden; padding:10px; position:relative;}
.contact h2{ font-size:24px; line-height:30px; display:block; font-weight:normal; margin:10px 0;}
.contact h2 span{ font-size:16px; margin-left:10px; font-weight:normal}
.contact p.company{ line-height:25px; font-size:14px; color:#eba443}
.contact ul{ margin:15px 0; overflow:hidden}
.contact ul li{ width:100%;  font-size:14px; height:25px;white-space:nowrap; margin-bottom:3px; line-height:25px; overflow:hidden}
.contact ul li img{ width:25px; height:25px; margin-right:5px; display:inline; float:left;}
.contact ul li.address{ width:100%; float:none;height: auto;white-space: normal;}
.contact ul li a{ color:#fff; text-decoration:none}

.introcon{text-align: left; padding:15px 0; background:rgba(0,0,0,0.8); border-top:2px solid #eba443; color:#fff; line-height:24px;}
.ctel { position:fixed; left:10px; bottom:30px; z-index:999; height:50px; width:50px;}
.ctel img{ width:50px; height:50px;}
.copyright{ padding:5px;  margin:0px 0;background:rgba(0,0,0,0.8);}
.copyright a{color:#F63; font-size:14px; text-decoration:none;}
.adbox{ margin:0 0 15px 0;}
.map{ height:250px; position:relative;}
.map-btn {
	position: absolute; color:#333;
	z-index: 1003;
	right: 10px; bottom:10px;
	display: inline-block;
	text-align: center;
	width: 60px;
	height: 30px;
	line-height: 30px;
	border: 1px solid RGBA(0,0,0,.4);
	border-radius: 8px;
	background: #FFF;
}
.g-wrap .r-result {
	position: fixed !important; color:#333;
	left: 0px;
	top: 0px;
	overflow: hidden;
	overflow-y: scroll;
	display: none;
	z-index: 1003;
	width: 100%;
	height: 100%;
}
.g-wrap .r-result  td{ color:#333;}
.map-close-img {
	position: fixed !important;
	left: 0px;
	top: 0px;
	z-index: 1003;
	height: 50px;
	width: 50px;
	display: none;
	cursor: pointer;
}
.bus-guide-img {
	position: fixed !important;
	right : 17px;
	top: 20px;
	z-index: 1003;
	height: 50px;
	width: 50px;
	display: none;
	cursor: pointer;
}
.self-guide-img {
	position: fixed !important;
	right : 17px;
	top: 85px;
	z-index: 1003;
	height: 50px;
	width: 50px;
	display: none;
	cursor: pointer;
}
.open-road {
	left: 0px;
	bottom: 0px;
	text-align: center;
	height: 55px;
	vertical-align: middle;
	line-height: 55px;
	background-color: #FFFFFF;
	opacity: 0.9;
	z-index: 1003;
	position: fixed !important;
	display: none;
	width: 100%;
}
.open-road-btn {
	display: inline-block;
	left: 0px;
	width: 175px;
	height: 38px;
	line-height: 38px;
	border: none;
	margin-top: 8px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: rgb(255, 122, 0);
	border-radius: 6px;
	cursor: pointer;
}
.itude-div {
	width: 100%;
	height: 100%;
}
.itude-parent-div {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1002;
	display: none;
}
.anchorBL {
	display: none;
}

@media screen and  (min-width: 641px){
      .g-wrap{ width:640px; }
	  .pimg{ width:640px; margin:0 auto;}
	  
}

